.otsikkoteksti {
	left: 210px;
	padding: 20px;
	top: 20px;
}

#profiilikuva {
	width: 200px;
	position: absolute;
	
}

body {
  font-family: sans-serif;
	text-align: center;
	color: #000066;
	background-color: #ccccff;
	margin-left: 210px;
	margin-top: 100px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 205px;;
	height: 100%;
	background: #9999ff;
	text-align:center;
}


a {
  background-image: linear-gradient(
    to right,
    #6666ff,
    #6666ff 50%,
    #000066 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #6666ff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}